<% provide(:title, @user.name) %>
<div class="row" >
  <aside class="col-md-4" style="overflow:auto">
  	<section class="user_info">
  	    <%= gravatar_for @user, 150 %>
        <h3><%= @user.name %></h3><%= @user.email %>
      	<h5>session id : <%= session[:user_id] %></h5>
      	<h5>user name : <%= current_user.name %></h5>

    </section>
     <section class="stats">
        <%= render 'shared/stat' %>
      </section>
  </aside>

  <div class="col-md-8">
  <%= render 'follow_form' if logged_in? %>
  <% if @user.microposts.any? %>
  	<h3>Microposts (<%= @user.microposts.count %>)</h3>
  	<ol class="microposts">
	<% @microposts.each do |micropost| %>
  		
      <li id="micropost-<%= micropost.id %>">
       
        <%= link_to gravatar_for(micropost.user, 50), micropost.user %>
        <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
        <span class="content"><%= micropost.content %></span>
        <span class="timestamp">
          Posted <%= time_ago_in_words(micropost.created_at) %> ago.
        </span>
      </li>
        <% if current_user?(micropost.user) %>
        <%= link_to "delete", micropost, method: :delete, data: { confirm: "You sure? "} %>
        <% end %>
  	 <% end %>
    </ol>
    <%= will_paginate @microposts %>
    <% end %>
  </div>

</div>